footer
	.row
		.large-6.medium-6.columns
			.bg-black.yellow.footer-flex.padding-10
				img(src="images/liger-logo2.svg")
				.footer-flex
					h5 The Liger Framework Developed for the Open Source Community

		.large-6.medium-6.columns.footer-flex.padding-10.margin-top-10.footerIcons
				
			a(href="https://github.com/jeraldjjohnson" target="_blank"): img(src="images/github-logo.svg")
			a(href="https://www.instagram.com/jeraldjohnsonart/" target="_blank"): img(src="images/instagram-logo.svg")
			a(href="mailto:jerald.j.johnson@gmail.com" target="_blank"): img(src="images/email-logo.svg")
		//.body.paddingTop10
			h5.heading Github   Twitter   Instagram