.row
	.large-12.columns
		.menu
			nav
				ul
					li: a(href="default.html") Liger CSS Grid Framework
					li: a(href="learn-liger.html")	Learn Liger Grid
					li: a(href="learn-components.html")	Implementing the Components
					li: a(href="visual-dictionary.html")	Visual Component Guide